<body>
    <section id="title">
        <div>
            <img class="main_card_title" src="resources/king_clubs.jpg"/>
            <div id="title_section">
                <p class="home_title">War:</p>
                <p class="home_title">The Card Game</p>
            </div>
            <img class="main_card_title" src="resources/king_diamonds.jpg"/>
        </div>
    </section>
    <section id="battle_zone">
        <img id="deck" class="player1_deck">
        <section class="player1_card_played">
            <img class="card_suit" id="upper_suit">
            <p class="card_value">{{card1.get_value}}</p>
            <img class="card_suit" id="lower_suit">
        </section>
        <section class="player2_card_played">
            <img class="card_suit" id="upper_suit">
            <p class="card_value">{{card1.get_value}}</p>
            <img class="card_suit" id="lower_suit">
        </section>
        <img id="deck" class="player2_deck">

    </section>
</body>