<body>
    <section id="title">
        <h1 id="home_title">War, The Card Game</h1>
        <button class="title_button" onclick="location.href='/stats'">Stats</button>
    </section>
    <section id="actions">
        <button class="battle_button" type="button">Battle</button>
        
    </section>
</body>