<body>
    <section id="title">
        <div>
            <img class="main_card_title" src="resources/king_clubs.jpg"/>
        <div id="title_section">
            <p class="home_title">War:</p>
            <p class="home_title">The Card Game</p>
        </div>
        <img class="main_card_title" src="resources/king_diamonds.jpg"/>
        <button class="title_button" onclick="location.href='/'">Home</button>
        </div>
    </section>
    <section id="statistics">
        <table>
            <tr>
                <th>Player Name</th>
                <th># of Games</th>
                <th># of Wins</th>
            </tr>
            {{#each players}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.num_games}}</td>
                <td>{{this.num_wins}}</td>
            </tr>
            {{/each}}
        </table>        
    </section>
    <section id="add_player">
        <form action="/db/add_player" method="POST">
            <button class="bottom_button" type="submit">Add Player</button>
        </form>
    </section>

</body>