/* home style */
#title{
    background-color: red;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
}

#title_section{
    display: inline-block;
}

.home_title{
    font-size: 50px;
    font-weight: bold;  
}

#actions{
    position: absolute;
    bottom: 152px;
    width: 90%;
    right: 3%;
}

.title_button{
    position: absolute;
    top: 31px;
    right: 31px;
    border-width: 5px;
    border-radius: 5px;
    width: 74px;
}

#players{
    text-align: center;
}

.main_card_title{
    height: 263px;
    margin-left: 4%;
    margin-right: 4%;
    display: inline-block;
}

#verses{
    display: inline-block;
    font-size: 27px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 600;
}

.player_button{
    border-radius: 10px;
    border-width: 5px;
    font-size: 27px;
    padding-left: 20px;
    margin-left: 62px;
    padding-right: 20px;
    margin-right: 62px;
}

#battle{
    position: fixed;
    bottom: 100px;
    width: 100%;
}

select{
    -webkit-appearance: none;
    appearance: none;
}

/* stats style*/
#heading{
    background-color: red;
    text-align: center;
}

#stats_title{
    text-align: center;
    padding: 10px;
    font-size: 60px;
    display: inline-block;
}


table{
    border: 1px solid black;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 102px;

}

th{
    border: 1px solid black;
    text-align: center;
    font-size: 22px;
    width: 239px;
}

td{
    border: 1px solid black;
    text-align: center;
    font-size: 19px;
}

#add_player{
    position: fixed;
    bottom: 100px;
    width: 100%;
}

.bottom_button{
    border-radius: 10px;
    border-width: 5px;
    position: absolute;
    left: 50%;
    font-size: 27px;
    padding-left: 20px;
    padding-right: 20px;
    transform: translate(-50%, -50%);
}

.stats_card_title{
    height: 263px;
    margin-left: 12%;
    margin-right: 12%;
    display: inline-block;
}

/* 404 error*/
#web_error{
    text-align: center;
    font-size: 87px;
}

#error_image{
    height: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 82px;
}

#error_description{
    text-align: center;
    font-size: 30px;
    margin-top: 28px;
}